@{
    var meLink = "http://mara.neptuo.com";
}
<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Neptuo</title>

        <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="~/Content/common.css" rel="stylesheet" />
        <link href="~/Content/design.css" rel="stylesheet" />
        <link href="~/Content/responsivness.css" rel="stylesheet" />
    </head>
    <body>

        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <a class="navbar-brand  @Request.ActiveCssClass("~/", true)" href="~/">
                    <img src="~/Content/Images/Logo.png" alt="Neptuo logo" height="80" />
                </a>
                <ul>
                    <li class="@Request.ActiveCssClass("~/project")">
                        <a href="~/project">
                            Projects
                            <span class="glyphicon glyphicon-cloud"></span>
                            <span class="subtext">Projects we are working on</span>
                        </a>
                    </li>
                    <li class="@Request.ActiveCssClass("~/service")">
                        <a href="~/service">
                            Services
                            <span class="glyphicon glyphicon-globe"></span>
                            <span class="subtext">Our services and references</span>
                        </a>
                    </li>
                    @*<li class="disabled @Request.ActiveCssClass("~/work")">
                        <a href="~/work">
                            Work
                            <span class="glyphicon glyphicon-cloud"></span>
                        </a>
                    </li>*@
                    <li class="@Request.ActiveCssClass("~/me")">
                        <a target="_blank" href="@meLink">
                            Me
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="subtext">About me</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="body">
            <form>

                @RenderBody()

            </form>
        </div>

        <footer>
            <div class="container">
                <div class="left">
                    Neptuo &copy; 2010 - 2016
                </div>
                <div class="right">
                    Created by <a target="_blank" href="@meLink">Marek Fišera</a>
                </div>
                <div class="clear"></div>
            </div>
        </footer>

    </body>
</html>