@helper MenuItem(string text, string subtext, string icon, string url, bool isExactUrlMatched = false)
{
    <li class="@Request.ActiveCssClass(url, isExactUrlMatched)">
        <a href="@Request.ResolveUrl(url)">
            <div class="maintext">
                @text
                <span class="glyphicon glyphicon-@icon"></span>
            </div>
            <div class="subtext">@subtext</div>
        </a>
    </li>
}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>@((ViewBag.Title != null ? ViewBag.Title + " - " : "") + "Neptuo")</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/web.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <button class="navbar-toggle">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>

            <ul class="left">
                @MenuItem("Home", "How can we help you?", "home", "~/", true)
            </ul>
            <ul class="right">
                @MenuItem("Projects", "Projects we are working on", "cloud", "~/project")
                @MenuItem("Services", "Our services and references", "globe", "~/service")
                @MenuItem("Blog", "Thoughts to share", "bookmark", "~/blog")
            </ul>
        </div>
    </nav>

    <div class="body">
        <form>

            @RenderBody()

        </form>
    </div>

    <footer>
        <div class="container">
            <div class="left">
                <span>Neptuo &copy; 2010 - 2016</span>
                @RenderSection("FooterLeft", false)
            </div>
            <div class="right">
                <span>Created by <a target="_blank" href="http://mara.neptuo.com">Marek Fišera</a></span>
                @RenderSection("FooterRight", false)
            </div>
            <div class="center">
                @RenderSection("FooterCenter", false)
            </div>
            <div class="clear"></div>
        </div>
    </footer>

    <script>

        function onSwitcherClicked(e) {
            var folder = this.parentElement.parentElement;
            folder.classList.toggle('folder-collapsed');
        }

        var switchers = document.querySelectorAll('.folder-switch');
        for (var i = 0; i < switchers.length; i++) {
            var switcher = switchers[i];
            switcher.addEventListener('click', onSwitcherClicked);
        }

        var navbarToggle = document.querySelector("button.navbar-toggle");
        if (navbarToggle != null) {
            navbarToggle.addEventListener('click', function (e) {
                var navbar = document.querySelector("nav");
                navbar.classList.toggle('navbar-expanded');
            });
        }

    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-12031460-1', 'auto');
        ga('send', 'pageview');
    </script>
    @RenderSection("Javascript", false)
</body>
</html>