@helper MenuItem(string text, string subtext, string icon, object route, bool isExactUrlMatched = false)
{
    var url = Url.ModelUrl(route);
    <li class="@Request.ActiveCssClass(url, isExactUrlMatched)">
        <a href="@url">
            <div class="maintext">
                @text
                <span class="glyphicon glyphicon-@icon"></span>
            </div>
            <div class="subtext">@subtext</div>
        </a>
    </li>
}
@{ 
    var blogUrl = "https://www.neptuo.com" + Url.ModelUrl(new BlogAtomRoute());
}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>@((ViewBag.Title != null ? ViewBag.Title + " - " : "") + "Neptuo")</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicon.png" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/featherlight.min.css" rel="stylesheet" />
    <link href="~/Content/web.css" rel="stylesheet" />

    <link rel="alternate" type="application/rss+xml" title="Neptuo Blog" href="@blogUrl" />
</head>
<body>

    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <button class="navbar-toggle">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>

            <ul class="left">
                @MenuItem("Home", "How can we help you?", "home", new HomeRoute(), true)
            </ul>
            <ul class="right">
                @MenuItem("Projects", "Projects we are working on", "cloud", new ProjectRoute())
                @MenuItem("Services", "Our services and references", "globe", new ServiceRoute())
                @MenuItem("Blog", "Thoughts to share", "bookmark", new BlogRoute())
            </ul>
        </div>
    </nav>

    <div class="body">
        <form>

            @RenderBody()

        </form>
    </div>

    <footer>
        <div class="container">
            <div class="left">
                <span>Neptuo &copy; 2010 - 2016</span>
                @RenderSection("FooterLeft", false)
            </div>
            <div class="right">
                <span>Created by <a target="_blank" href="https://mara.neptuo.com">Marek Fišera</a></span>
                @RenderSection("FooterRight", false)
            </div>
            <div class="center">
                @RenderSection("FooterCenter", false)
            </div>
            <div class="clear"></div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/featherlight.min.js"></script>
    <script>

        function onSwitcherClicked(e) {
            var folder = this.parentElement.parentElement;
            folder.classList.toggle('folder-collapsed');
        }

        var switchers = document.querySelectorAll('.folder-switch');
        for (var i = 0; i < switchers.length; i++) {
            var switcher = switchers[i];
            switcher.addEventListener('click', onSwitcherClicked);
        }

        var navbarToggle = document.querySelector("button.navbar-toggle");
        if (navbarToggle != null) {
            navbarToggle.addEventListener('click', function (e) {
                var navbar = document.querySelector("nav");
                navbar.classList.toggle('navbar-expanded');
            });
        }

    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-12031460-1', 'auto');
    </script>
    @if (ViewBag.IsError == true)
    {
        <script>
            ga('send', {
                hitType: 'event',
                eventCategory: '404 Response',
                eventAction: window.location.href,
                eventLabel: document.referrer
            });
        </script>
    }
    else
    {
        <script>
            ga('send', 'pageview');
        </script>
    }
    @RenderSection("Javascript", false)
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "url": "http://www.neptuo.com",
        "logo": "/Content/Images/Logo-220.png"
        }
    </script>
</body>
</html>