@using System.Globalization;
@model IEnumerable<Neptuo.WebSite.Models.Blogging.PostModel>
@{
    ViewBag.Title = "Thoughts to share";
}

<div class="intro">
    <div class="intro-content container">
        <h1>Blog...</h1>
        <p>
            Ideas to share. Lessons learned.
        </p>
    </div>
</div>

<div class="container blog">
    @foreach (var yearGroup in Model.GroupBy(p => p.ReleaseDate.Year))
    {
        if (yearGroup.Key != DateTime.Now.Year)
        {
            <div class="year">@yearGroup.Key</div>
        }

        foreach (var post in yearGroup)
        {
            <div class="folder">
                <div class="date">
                    <div class="day">@post.ReleaseDate.Day</div>
                    <div class="month">@post.ReleaseDate.ToString("MMM", new CultureInfo("en-US"))</div>
                </div>
                <div class="folder-content">
                    <h2 class="folder-heading">@Html.ModelLink(post.Title, post.ToRouteModel())</h2>
                    <article>@post.Description</article>
                </div>
                <div class="clear"></div>
            </div>
        }
    }
</div>

@section FooterCenter {
    <span>@Html.ModelLink("Atom", new BlogAtomRoute())</span>
}