@using Neptuo.WebSite.Navigation
@model Neptuo.WebSite.Models.Blogging.PostViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="intro important blogpost">
    <div class="intro-content container">
        <h1>@Model.Title</h1>
        <p>
            @Model.Description
        </p>
    </div>
</div>


<div class="container">
    <div class="folder blogpost">
        @Html.Raw(Model.HtmlContent)
    </div>

    <div class="folder">
        <div class="left">
            Posted on @Model.Post.ReleaseDate.ToString("yyyy-MM-dd")
        </div>
        <div class="right">
            Written by <a target="_blank" rel="nofollow" href="https://github.com/@Model.Post.Author.ToLowerInvariant()">@Model.Post.Author</a>
        </div>
        <div class="clear"></div>
    </div>

    @if (Model.Post.GitHubCommentPath != null)
    {
        <div class="folder">
            <div class="comment-heading">
                <h3>
                    <span class="hidden">Comments</span>
                    <span class="glyphicon glyphicon-comment"></span>
                </h3>
            
                To leave a comment, please sign-in at GitHub and
                <a href="https://github.com/@Model.Post.GitHubCommentPath" target="_blank">
                    comment on the issue associated with this post.
                </a>
            </div>
            <div id="comments"></div>
        </div>
    }
</div>

@section FooterCenter {
    <span>@Html.ModelLink("Atom", new BlogAtomRoute())</span>
}

@section Javascript {

    @if (Model.Post.GitHubCommentPath != null)
    {
        <script src="~/Scripts/blogcomments.js"></script>
        <script>

            load("https://api.github.com/repos/@Model.Post.GitHubCommentPath/comments");

        </script>
    }
}