@model Neptuo.WebSite.Models.Index.HomeModel

<div class="intro">
    <div class="intro-content container">
        <h1>Vítejte!</h1>
    </div>
</div>

<div class="container">

    <div class="folder center">
        <h2>Co vám můžeme nabídnout?</h2>
        <span>
            Potřebujete Windows aplikaci nebo dáváte přednost webovým aplikacím s bohatým uživatelským rozhraním, nebo snad okamžitá dostupnost mobilních aplikací je to, co vám vyhovuje?
            Můžeme vám pomoci ve všech těchto oblastech.
        </span>
    </div>

    <div class="folder">
        <div class="col-md-4">
            <div class="box">
                <div class="folder-heading">
                    <span class="glyphicon glyphicon-usd"></span>
                    <h2>Podnikové aplikace</h2>
                </div>
                <p>
                    Aplikace postavené přímo na míru zákazníkovi, využívající naše již hotové komponenty.
                    Cílem je zde optimalizace každodenních úkolů zákazníka.
                </p>
                <p>
                    Dodávané jako webové, mobilní nebo Windows aplikace.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="folder-heading">
                    <span class="glyphicon glyphicon-globe"></span>
                    <h2>Webové stránky</h2>
                </div>
                <p class="first">
                    Prezentace firem nebo osob, postavené na našem redakčním systému, který toho již velmi mnoho umí.
                    Můžeme hostovat několik webů v rámci jednoho redačkního systému a řídit přistup uživatelů k jednolivým částem.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="folder-heading">
                    <span class="glyphicon glyphicon-phone"></span>
                    <h2>Mobilní aplikace</h2>
                </div>
                <p class="first">
                    Máme zkušenosti s aplikace pro Andriod i mobilní Windows.
                    Můžeme dokonce použít Xamarin pro vývoj aplikace, která bude fungovat na všech platformách.
                </p>
            </div>
        </div>
        <div class="clear"></div>

        <div class="col-md-4">
            <div class="box">
                <div class="folder-heading">
                    <span>C#</span>
                    <h2>Oblíbený jazyk</h2>
                </div>
                <p class="first">
                    Nás nejoblíbenější programovací jazyk, podporující Windows a díky .NET Core také Linux a MAC OSX.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="folder-heading">
                    <span>PHP</span>
                    <h2>Levné</h2>
                </div>
                <p class="first">
                    Náš redakční systému je postaven na PHP a díky levnému hostingu pro PHP, je ideální pro osobní nebo firemní webové presentace a malé podnikové aplikace.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="folder-heading">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <h2>K najmutí</h2>
                </div>
                <p class="first">
                    Nebráníme se žádné spolupráci.
                </p>
                <p>
                    Můžeme nabídnout znalosti v C#, PHP, SQL a JavaScriptu s letitou praxí.
                </p>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="folder">
        <h2 class="folder-heading">
            <a href="@Url.Action("project")">Open-source projecty</a>
        </h2>
        <p class="first">
            Většina naší infrastruktury je open-source, dostupná na Google Code a nyní na GitHubu.
            Tyto projekty prokrývají škálu od různých rozšíření základních knihoven 
            až po plnou implementaci CQRS pro distribuované a škálovatelné aplikace.
        </p>
        <p>
            Tyto projekty jsou nejčastěji dostupné jako NuGet balíčky .NET knihoven, rozšíření pro VisualStudio 
            nebo ClickOnce Windows aplikace.
        </p>

        @if (Model.Projects.Any())
        {
            <div class="col-md-5">
                <ul>
                    @foreach (var project in Model.Projects.Take(5))
                    {
                        <li>
                            <a href="@Url.RouteUrl("project", new { type = project.Type, project = project.LocalUrl })">@project.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-5">
                <ul>
                    @foreach (var project in Model.Projects.Skip(5))
                    {
                        <li>
                            <a href="@Url.RouteUrl("project", new { type = project.Type, project = project.LocalUrl })">@project.Name</a>
                        </li>
                    }
                </ul>
            </div>
        }
        <div class="clear"></div>
    </div>

    <div class="folder">
        <h2 class="folder-heading">
            <a href="@Url.Action("service")">Poslední realizované webové prezentace</a>
        </h2>
        <p>
            Zde je několik posledních realizovaných webových prezentací, využívající náš redakční systém.
        </p>
        
        @Html.Partial("ShortWebs", Model.Webs)

        <div class="clear"></div>

        <p>
            Několik webů jsme též realizovali jako předgenerované statické stránky, hostované na bezplatných službách.
            Často jsou generovány z komplexních webových technologií, jako je ASP.NET, nicméně na server se publikují jen vygenerované HTML, obrázky a styly.
            Tyto weby pak mají vynimální nároky na server, na kterém běží.
        </p>
        <p class="right">
            @Html.ModelLink("Více na toto téma na našem blogu (v angličtině)", new BlogPostRoute(Model.StaticSitesBlogPost.ReleaseDate, Model.StaticSitesBlogPost.Url)).
        </p>

        <div class="clear"></div>
    </div>
</div>