@{
    ViewBag.Title = "Our libraries, tools & utilities that helps during development!";
}

<div class="intro">
    <div class="intro-content container">
        <h1>Our projects!</h1>
        <p>
            Apps, libs &amp; tools that helps during every day (developer) life.
        </p>
    </div>
</div>

<div class="container">
    <div class="folder">
        
        <h2 class="center">@Html.ModelLink("All projects", ProjectRoute.All())</h2>
    </div>
    <div class="col-md-6">
        <div class="folder box">
            <div class="folder-heading">
                <span>.NET</span>
                <h2>@Html.ActionLink("NuGet packages", "Project", new { type = "dev" })</h2>
            </div>
            <p class="first">
                We have developed some libraries that simplifies our development and these libraries are mainly
                opensourced at <a href="http://www.github.com/neptuo">GitHub</a>.
            </p>
            <p>
                These projects are coded in C# and starts with extensions for System.Core, goes through extensible Converters, Formatters
                to complex features like CQRS and EventSourcing.
            </p>
            <p>
                We use GitHub for hosting source codes and release information at <a href="http://github.com/neptuo">github.com/neptuo</a>.
            </p>
            <p>
                Production ready binaries are than hosted on <a href="http://www.nuget.org/profiles/neptuo">NuGet</a>
                and development binaries can be found on <a href="https://www.myget.org/feed/Packages/neptuo-dev">MyGet feed</a>.
            </p>
        </div>
        <div class="folder box">
            <div class="folder-heading">
                <span>VSIX</span>
                <h2>@Html.ActionLink("VisualStudio extensions", "Project", new { type = "vsix" })</h2>
            </div>
            <p class="first">
                As we love Visual Studio, this section contains some extensions. These extensions currently can't be installed from
                standart Visual Studio gallery, instead are placed int the public <a href="https://www.myget.org/F/neptuo-dev/vsix/">MyGet Feed</a>.
            </p>
        </div>
        <div class="folder box">
            <div class="folder-heading">
                <span>Android</span>
                <h2>@Html.ActionLink("Google Android Mobile", "Project", new { type = "android" })</h2>
            </div>
            <p class="first">
                To compare mobile platforms we have tried also Android OS and we have developed @Html.ActionLink("Vocabulary App", "Project", new { type = "android", project = "vocabulary" }).
            </p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="col-md-6">
        <div class="folder box">
            <div class="folder-heading">
                <span>WPF</span>
                <h2>@Html.ActionLink("Windows (desktop)", "Project", new { type = "desktop" })</h2>
            </div>
            <p class="first">
                Currently the list of applications for Windows is splitted between this site and <a target="_blank" href="http://apps.neptuo.com/">the old one</a>.
            </p>
            <p>
                There you can find some applications for extending experience with Windows OS
                (like <a target="_blank" href="http://apps.neptuo.com/#/winrun">WinRun</a>, @Html.ActionLink("WindowsDock", "Project", new { type = "desktop", project = "windowsdock" }) and
                @Html.ActionLink("Solution Runner", "Project", new { type = "desktop", project = "solutionrunner" })
                or standart desktop applications (like <a target="_blank" href="http://apps.neptuo.com/#/media-library">MediaLibrary</a>).
            </p>
            <p>
                These applications are written in .NET, so requires it installed on your machine.
            </p>
        </div>
        <div class="folder box">
            <div class="folder-heading">
                <span>CMS</span>
                <h2>@Html.ActionLink("Web Content Management", "Project", new { type = "cms" })</h2>
            </div>
            <p class="first">
                Here applications we use for creating web presentations and small web applications.
            </p>
            <p>
                The @Html.ActionLink("Template Engine", "Project", new { type = "cms", project = "templateengine" }) is currently under design and development as a next-generation CMS
                with low network needs and fast javascript rendering.
            </p>
        </div>
        <div class="folder box">
            <div class="folder-heading">
                <span>UWP</span>
                <h2>@Html.ActionLink("Windows (universal)", "Project", new { type = "universal" })</h2>
            </div>
            <p class="first">
                With Windows 10 'Universal Windows Platform' came where applications can be developed once and run everywhere (after compiling for that platform).
            </p>
            <p>
                Our first application in the category can be used as a WebCam server-client for taking photos and downloading them to the clients.
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>