@model Neptuo.WebSite.Models.Blogging.PostViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="intro blogpost">
    <div class="intro-content container">
        <h1>@Model.Title</h1>
        <p>
            @Model.Description
        </p>
    </div>
</div>


<div class="container blogpost">
    <div class="folder">
        @Html.Raw(Model.HtmlContent)
    </div>

    <div class="folder">
        <div class="left">
            Posted on @Model.Post.ReleaseDate.ToShortDateString()
        </div>
        <div class="right">
            Written by <a target="_blank" rel="nofollow" href="https://github.com/@Model.Post.Author.ToLowerInvariant()">@Model.Post.Author</a>
        </div>
        <div class="clear"></div>
    </div>
</div>