@model Neptuo.WebSite.Models.Index.HomeModel

<div class="intro">
    <div class="intro-content container">
        <h1>Hello!</h1>
    </div>
</div>

<div class="container">
    
    <div class="folder">
        <h2 class="folder-heading">
            <a href="@Url.Action("service")">Webs made by us</a>
        </h2>
        <p class="first">
            Nabízíme realizaci webových stránek ušitých namíru. Pro správu obsahuje využíváme redakční systém, 
            ve kterém je možné spravovat jak statický obsah, tak dynamicky generovaný obsah. Ať už tento obsah 
            pochází v článků, galerií nebo formulářů postavených na míru. Ke každému tomuto zdroji dat je 
            navíc možné nastavit opravnění a omezit tak přístup uživatelů jen k určitým částem. 
            Více o našem redakčním systému pod projektem is4wfw.
        </p>

        @Html.Partial("ShortWebs", Model.Webs)
        <div class="clear"></div>
    </div>

    <div class="folder">
        <h2 class="folder-heading">
            <a href="@Url.Action("project")">Our projects</a>
        </h2>
        <p class="first">
            We have open-sourced many of our tools that helps us delivering software. As most of our implementations
            are based on Windows and .NET platform, these projects are delivered as NuGet packages.
        </p>

        @if (Model.Projects.Any())
        {
            <ul>
                @foreach (var project in Model.Projects)
	            {
                    <li>
                        <a href="@Url.RouteUrl("project", new { type = project.Type, project = project.LocalUrl })">@project.Name</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>