@model Neptuo.WebSite.Models.Index.HomeModel

<div class="intro">
    <div class="intro-content container">
        <h1>Hello!</h1>
    </div>
</div>

<div class="container">
    
    <div class="folder">
        <h2 class="folder-heading">
            <a href="@Url.Action("service")">Web sites made by us</a>
        </h2>
        <p class="first">
            We are building customer web sites. Our customers are able to manage content of their web site
            thanks to CMS we are using. Our CMS is multi tenant, so many web sites can be hosted in a single instance.
            Thanks to access control, each user can have access only to small part of the whole system.
        </p>

        @Html.Partial("ShortWebs", Model.Webs)
        <div class="clear"></div>
    </div>

    <div class="folder">
        <h2 class="folder-heading">
            <a href="@Url.Action("project")">Our projects</a>
        </h2>
        <p class="first">
            We have open-sourced many of our tools that helps us delivering software. As most of our implementations
            are based on Windows and .NET platform, these projects are delivered as NuGet packages.
        </p>

        @if (Model.Projects.Any())
        {
            <ul>
                @foreach (var project in Model.Projects)
	            {
                    <li>
                        <a href="@Url.RouteUrl("project", new { type = project.Type, project = project.LocalUrl })">@project.Name</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>