@model IEnumerable<Neptuo.WebSite.Models.Projects.ProjectModel>
@{
    ViewBag.Title = "Our libraries, tools &amp; utilities that helps during development!";
}

<div class="intro">
    <div class="intro-content container">
        <h1>Our projects!</h1>
        <p>
            Our libraries, tools &amp; utilities that helps during development
        </p>
    </div>
</div>

<div class="container">
    <input id="search" type="text" class="folder" placeholder="Search (@Model.Count()) projects..." />

    @foreach (var project in Model)
    {
    <div class="folder" data-search="@project.Name.ToLowerInvariant()">
        <h2 class="folder-heading">
            <a href="@Url.RouteUrl("Project", new { type = project.Type, project = project.LocalUrl })">@project.Name</a>
        </h2>
        <div class="col-md-10">
            <ul>
                <li>@project.Description</li>
                @if (!String.IsNullOrEmpty(project.Licence))
                {
                    <li>
                        <a target="_blank" href="@project.LicenceUrl">Licensed under @project.Licence.</a>
                    </li>
                }
                
                @if (!String.IsNullOrEmpty(project.DocumentationUrl))
                {
                    <li>
                        <a target="_blank" href="@project.DocumentationUrl">Project documentation.</a>
                    </li>
                }
                
                @if (!String.IsNullOrEmpty(project.ProjectUrl))
                {
                    <li>
                        Source code at 
                        <a target="_blank" href="@project.ProjectUrl">
                            @if (project.ProjectUrl.StartsWith("http://"))
                            {
                                @project.ProjectUrl.Substring("http://".Length)
                            }
                            else
                            {
                                @project.ProjectUrl
                            }</a>.
                    </li>
                }
                
                <li>
                    Current version on NuGet at <a target="_blank" href="https://www.nuget.org/packages/@project.Name">nuget.org/packages/@project.Name</a>.
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    }
</div>

<script type="text/javascript">

    var folders = document.querySelectorAll('.folder[data-search]');

    var searchBox = document.getElementById('search');
    searchBox.addEventListener('keyup', function (e) {
        var box = e.target;
        var value = box.value.toLowerCase();
        
        for (var i = 0; i < folders.length; i++) {
            var folder = folders[i];

            var name = folder.dataset['search'];
            var index = name.indexOf(value);
            if (index > -1)
                folder.style.display = 'block';
            else
                folder.style.display = 'none';
        }
    });

</script>