@model IEnumerable<Neptuo.WebSite.Models.Webs.WebModel>
@{
    ViewBag.Title = "Not found!";
}

@foreach (var web in Model.Where(w => !w.IsOld))
{
<div class="folder">
    <h2 class="folder-heading">
        @web.Title
        @if (!String.IsNullOrEmpty(web.Link)) 
        { 
        <a target="_blank" href="@web.Link">@web.LinkName</a>
        }
    </h2>
    @if (web.Previews.Any()) 
    { 
    <div class="image-left">
        @foreach (var image in web.Previews)
	    {
        <img src="@Request.ResolveUrl(image.Link)" title="@web.Title" width="@image.Width" height="@image.Height" />
	    }
    </div>
    }
    <div class="col-md-5 lang-cs">
        <ul>
            @foreach (var description in web.Descriptions)
            {
                if (!String.IsNullOrEmpty(description.Cs)) 
                { 
                <li>@description.Cs</li>
                }
            }
        </ul>
    </div>
    <div class="col-md-5 lang-en">
        <ul>
            @foreach (var description in web.Descriptions)
            {
                if (!String.IsNullOrEmpty(description.En)) 
                { 
                <li>@description.En</li>
                }
            }
        </ul>
    </div>
    <div class="clear"></div>
</div>
}
<div class="folder">
    <h2 class="folder-heading">
        <span class="lang-cs">A několik starších projektů</span>
        <span class="lang-en right">And some older projects</span>
    </h2>
    
    @foreach (var web in Model.Where(w => w.IsOld))
    {
        if(web.Previews.Any()) {
            var image = web.Previews.First();
            
            if (!String.IsNullOrEmpty(web.Link))
            {
                @: <a target="_blank" href="@Request.ResolveUrl(web.Link)">
            }
            <img class="image-left" src="@Request.ResolveUrl(image.Link)" title="@web.Title" width="@image.Width" height="@image.Height" />
            if (!String.IsNullOrEmpty(web.Link))
            {
                @: </a>
            }
        }
    }
    @*<img class="image-left" src="http://is4wfw.neptuo.com/file.php?rid=55" width="127" height="90" />
    <img class="image-left" src="~/Content/Images/References/jm.jpg" width="127" height="90" />
    <img class="image-left" src="~/Content/Images/References/kamelibo.jpg" width="127" height="90" />
    <img class="image-left" src="~/Content/Images/References/jmold.jpg" width="127" height="90" />
    <img class="image-left" src="http://is4wfw.neptuo.com/file.php?rid=56" width="127" height="90" />
    <img class="image-left" src="~/Content/Images/References/school.jpg" width="127" height="90" />*@
    <div class="clear"></div>
</div>